<div class="container">
  <div class="row" align="center">
    <h1>Orders</h1>
    <% @orders.each do |order| %>
    <hr>
    <div class="col-xs-12 col-md-12">
      <%= order.ticket.first_name %> <%= order.ticket.last_name %> for <%= order.showing.movie.title %>
    </div>
    <% end %>
  </div>
</div>
