<div class="container">
  <div class="row">
    <div class="col-xs-12 col-md-12" align="center">
      View Orders for
      <h3 class="movie-title"><a href="/orders/all">All Movies</a></h3>
      <% @movies.each do |movie| %>
        <h3 class="movie-title"><a href="/movies/<%= movie.id %>/orders"><%= movie.title %></a></h3>
      <% end %>
    </div>
  </div>
</div>
