<div class="container">
  <div class="row">
    <div class="col-xs-12 col-md-12 centered">
      <h3>Thank you for your ticket purchase, a copy of your order has been sent to <%= @ticket.email %></h3>
    </div>
  </div>
</div>
