.head-title {
  font-size: 60px;
  font-family: 'Lobster', cursive;
  padding: 20px 30px;
}

.head-title a {
  text-decoration: none;
  color: black;
}

body {
  font-family: 'Raleway', sans-serif;
}

.header {
  padding: 5px;
}

.glyphicon {
  font-size: 50px;
}

.dropdown-menu {
  float:left;
  font-size: 30px;
  margin-top: 30px;
}

.btn-group {
  padding-top: 30px;
  padding-right: 20px;
  float: right;
}

.image {
  width: 300px;
  height: 450px;
  border: 1px solid black;
}

.col-xs-12 {
  align-items: center;
}

.movie-box {
  padding-top: 30px;
}

.showtime-box {
  padding-top: 20px;
}

.showtime-box a {
  text-decoration: none;
  color: black;
}

@media only screen and (max-width: 1000px) {
  .image {
    width: 80%;
    height: 90%;
  }
  .showtime {
    font-size: 40px;
  }
}
