<div class="container>">
  <div class="row">
    <div class="col-xs-12 col-md-12">
      <a href="/cinemas/new"><button type="button" class="btn btn-primary cinema_button">Add Cinema</button></a>
    </div>
  </div>
  <% @cinemas.each do |cinema| %>
    <div class="row">
      <div class="col-xs-12 col-md-12" align="center">
        <h1>Cinema <%= cinema.id %></h1>
        <% if any_showings?(cinema) %>
        <p>Current Movie: <%= cinema.showings.first.movie.title %></p>
        <% else %>
        <p>Current Movie: None </p>
        <% end %>
        <a href="/cinemas/<%= cinema.id %>/edit">Edit</a>
      </div>
    </div>
  <% end %>
</div>
