<!DOCTYPE html>
<html>
  <head>
    <title>MovieTheater</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <!-- FONTS -->
    <link href="https://fonts.googleapis.com/css?family=Lobster|Raleway" rel="stylesheet">

  </head>

  <body>
    <header>
      <div class="row header">
        <div class="col-md-6">
          <h1 class="head-title">TheMovieTheater</h1>
        </div>
        <div class="col-md-6">
          <div class="dropdown show">
            <a class="btn btn-secondary dropdown-toggle" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <span class="glyphicon glyphicon-menu-hamburger" aria-hidden="true"></span>
            </a>

            <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
              <a class="dropdown-item" href="#">Action</a>
              <a class="dropdown-item" href="#">Another action</a>
              <a class="dropdown-item" href="#">Something else here</a>
            </div>
          </div>
        </div>
      </div>
    </header>
    <%= yield %>
  </body>
</html>
